
{% extends 'base.html' %}
{% block title %}{{ user_obj.username }}{% endblock %}
{% block menu %}
    {% if user_obj == request.user %}
        <nav class="navbar navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="{% url 'webapp:index' %}">НА ГЛАВНУЮ</a>
            <a class="navbar-brand" href="{% url "accounts:user_update" user_obj.pk %}">РЕДАКТИРОВАНИЕ</a>
            <a class="navbar-brand" href="{% url 'accounts:user_change_password' user_obj.pk %}">СМЕНИТЬ ПАРОЛЬ</a>
        </nav>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="text-center">
        <h1 class="mb-5 mt-5">Профиль: {{ user_obj.username }}</h1>
        <p>Имя: <b>{{ user_obj.first_name }}</b></p>
        <p>Фамилия: {{ user_obj.last_name }}</p>
        <p>Email: {{ user_obj.email }}</p>
    </div>

{% endblock %}