{% extends 'base.html' %}

{% block menu %}
    <nav class="navbar navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="{% url 'task_add' %}">ДОБАВИТЬ ЗАДАЧУ</a>
        <a class="navbar-brand" href="{% url 'type' %}">ТИПЫ ЗАДАЧ</a>
        <a class="navbar-brand" href="{% url 'status' %}">СТАТУСЫ ЗАДАЧ</a>
        <a class="navbar-brand" href="{% url 'project' %}">ПРОЕКТЫ</a>
        {% if user.is_authenticated %}
            <a href="{% url 'accounts:logout' %}" class="navbar-brand">ВЫХОД</a>
        {% else %}
            <a href="{% url 'accounts:login' %}" class="navbar-brand">ВОЙТИ</a>
        {% endif %}

    </nav>
{% endblock %}

{% block content %}
    <h1 class="mb-3">Задачи:</h1>
    {% include 'partial/search_form.html' %}
    {% for task in tasks %}
        <div class="card mb-5">
            <div class="card-body">
                <h2 class="card-title">{{ task.title }}</h2>
                <p class="card-text">{{ task.text }}</p>
                <a href="{% url 'task_view' task.pk %}" class="btn btn-dark">ПРОСМОТР</a>
                <a href="{% url 'task_update' task.pk %}" class="btn btn-dark">РЕДАКТИРОВАТЬ</a>
                <a href="{% url "task_delete" task.pk %}" class="btn btn-dark">УДАЛИТЬ</a>
            </div>
        </div>
    {% endfor %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}
