{% extends 'base.html' %}

{% block menu %}
    <li><a href="{% url 'task_add' %}">Add Task</a></li>
{% endblock %}

{% block content %}
    <h1>Задачи:</h1>
    <hr/>
    {% for task in tasks %}
        <h2>{{ task.title }}</h2>
        <div>{{ task.text }}</div>
        <p><a href="{% url 'task_view' task.pk %}">More...</a></p>
        <p><a href="{% url 'task_update' task.pk %}">Edit</a></p>
        <p><a href="{% url "task_delete" task.pk %}">Delete</a></p>
        <hr/>
    {% endfor %}
{% endblock %}
