{% extends 'base.html' %}

{% block title %}{{ task.title }}{% endblock %}

{% block menu %}
    <nav class="navbar navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="{% url 'index' %}">НА ГЛАВНУЮ</a>
        <a href="{% url 'task_update' task.pk %}" class="navbar-brand">РЕДАКТИРОВАТЬ</a>
        <a href="{% url "task_delete" task.pk %}" class="navbar-brand">УДАЛИТЬ</a>
    </nav>
{% endblock %}

{% block content %}
    <h1 class="mb-5">{{ task.title }}</h1>
    <p class="text-center">Created at <b>{{ task.created_at }}</b></p>
    <p class="pre text-center">{{ task.text }}</p>

{% endblock %}
